<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lisa_rest27.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,690},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1378,2},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest31.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lisa_rest4.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b39127b93777e1a5ac404661dfa3763b:5326fcbb4bd39afffa98620038dcb565:88772460976f46792bc1ee44a81f23d5$</string>
            <key>textureFileName</key>
            <string>lisa_rest4.png</string>
        </dict>
    </dict>
</plist>
