<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>exit_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,2},{146,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,53}}</string>
                <key>sourceSize</key>
                <string>{146,53}</string>
            </dict>
            <key>gallery_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{279,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,50}}</string>
                <key>sourceSize</key>
                <string>{279,50}</string>
            </dict>
            <key>gallery_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{272,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{272,47}}</string>
                <key>sourceSize</key>
                <string>{272,47}</string>
            </dict>
            <key>gallery_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{279,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{279,50}}</string>
                <key>sourceSize</key>
                <string>{279,50}</string>
            </dict>
            <key>game_over.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{683,93}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{683,93}}</string>
                <key>sourceSize</key>
                <string>{685,93}</string>
            </dict>
            <key>omake_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,93},{224,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,54}}</string>
                <key>sourceSize</key>
                <string>{224,54}</string>
            </dict>
            <key>omake_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,201},{222,46}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{222,46}}</string>
                <key>sourceSize</key>
                <string>{224,46}</string>
            </dict>
            <key>omake_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{283,149},{224,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{224,50}}</string>
                <key>sourceSize</key>
                <string>{224,50}</string>
            </dict>
            <key>restart_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{360,54}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{360,54}}</string>
                <key>sourceSize</key>
                <string>{360,54}</string>
            </dict>
            <key>stage1_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,352},{145,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,34}}</string>
                <key>sourceSize</key>
                <string>{147,34}</string>
            </dict>
            <key>stage1_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,362},{145,34}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,34}}</string>
                <key>sourceSize</key>
                <string>{147,34}</string>
            </dict>
            <key>stage2_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,352},{147,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,34}}</string>
                <key>sourceSize</key>
                <string>{147,34}</string>
            </dict>
            <key>stage2_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{97,326},{147,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,34}}</string>
                <key>sourceSize</key>
                <string>{147,34}</string>
            </dict>
            <key>stage3_grey.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,249},{147,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,34}}</string>
                <key>sourceSize</key>
                <string>{147,34}</string>
            </dict>
            <key>stage3_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,57},{146,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,34}}</string>
                <key>sourceSize</key>
                <string>{146,34}</string>
            </dict>
            <key>stage_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,965},{142,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,45}}</string>
                <key>sourceSize</key>
                <string>{142,45}</string>
            </dict>
            <key>start_select.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,285},{258,65}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{258,65}}</string>
                <key>sourceSize</key>
                <string>{260,67}</string>
            </dict>
            <key>start_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,211},{260,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{260,67}}</string>
                <key>sourceSize</key>
                <string>{260,67}</string>
            </dict>
            <key>yes_white.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,280},{101,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,44}}</string>
                <key>sourceSize</key>
                <string>{101,44}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>menu.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:65955cda56ffdff3c20bfbc7becc3239:c37e672a1157f91e3d4ff1bc2c86ec4d:9622c220910f706aac7e93396e53b943$</string>
            <key>textureFileName</key>
            <string>menu.png</string>
        </dict>
    </dict>
</plist>
