<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lisa_rest09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,1378},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest10.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,1321},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1321},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,690},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1321,2},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest14.png</key>
            <dict>
                <key>frame</key>
                <string>{{633,690},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,633},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest16.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
            <key>lisa_rest17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{686,629}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{686,629}}</string>
                <key>sourceSize</key>
                <string>{686,629}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lisa_rest2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:358155cadc46642e8893945a8740d473:d64be340884330c312c9eb0b11d78b8f:892192774de32d32072abdc87c8506c8$</string>
            <key>textureFileName</key>
            <string>lisa_rest2.png</string>
        </dict>
    </dict>
</plist>
